In [2]:
s="Harsh"
s1='Harsh'
s2="""harsh"""
print(s,s1,s2)

Harsh Harsh harsh

In [ ]:
#string is sub scriptable using auto iteration
s="hi hello"

In [3]:
#character to ascii
ord('a')

97

In [5]:
#ascii to character
chr(97)

'a'

In [12]:
#print a to z with asci values
for i in range(ord('a'),ord('z')+1,1):
    print(chr(i),":",i)

a : 97
b : 98
c : 99
d : 100
e : 101
f : 102
g : 103
h : 104
i : 105
j : 106
k : 107
l : 108
m : 109
n : 110
o : 111
p : 112
q : 113
r : 114
s : 115
t : 116
u : 117
v : 118
w : 119
x : 120
y : 121
z : 122

In [16]:
#print any alphabet to any given by user
#eg. start:p end: t  PQRST
start=input("Enter satrt:")
end=input("Enter end:")
s=ord(start)
e=ord(end)
for i in range(s,e+1,1):
    print(chr(i))

Enter satrt:P
Enter end:T
P
Q
R
S
T

Operators of string: +  * [:]  in not in

In [17]:
s1="harsh"
s2="Kesarwani"
s3=s1+" "+s2 #concatenates 2 lor more string
print(s3)

harsh Kesarwani

In [19]:
s1="harsh "
print(s1*5) # multiplication repeats string n times

harsh harsh harsh harsh harsh

In [21]:
s2="Kesarwani"
s2[4]

'r'

In [22]:
s2[-2]

'n'

Slicing operation

In [57]:
#slice operation [start:end:step]
#default            0   len(str)   1
s="abcdefghijkl"
print(s[3:6])
print(s[::2]) # it will strt and step will be 2
print(s[::-1])

def
acegik
lkjihgfedcba

In [25]:
s[::-1]

'lkjihgfedcba'

In [33]:
'''word triangle
input word: python
p
py
pyt

python'''

s=input("Enter a String:")
for i in range(0,len(s)+1):
    print(s[:i])

Enter a String:harsh

h
ha
har
hars
harsh

In [38]:
'''python
pytho
pyth
pyt

'''

s=input("Enter a String:")
for i in range(len(s),0,-1):
    print(s[:i])

Enter a String:python
python
pytho
pyth
pyt
py
p

In [40]:

for i in range(1,6,1):
    print("X"*i)

X
XX
XXX
XXXX
XXXXX

In [43]:

for i in range(1,8,2):
    print("X"*i)

X
XXX
XXXXX
XXXXXXX

In [50]:
for i in range(1,5,1):
    print("X"*i)
for j in range(3,0,-1):
    print("X"*j)

X
XX
XXX
XXXX
XXX
XX
X

In [51]:
for i in range(5,0,-1):
    print("X"*i)
for j in range(2,6,1):
    print("X"*j)

XXXXX
XXXX
XXX
XX
X
XX
XXX
XXXX
XXXXX

In [53]:
for i in range(1,6,1):
    print(" "*(6-i),"X"*i)

      X
     XX
    XXX
   XXXX
  XXXXX

In [54]:
for i in range(1,6,1):
    print(" "*(6-i),"X "*i)

      X
     X X
    X X X
   X X X X
  X X X X X

In [56]:
for i in range(6,0,-1):
    print(" "*(6-i),"X "*i)

 X X X X X X
  X X X X X
   X X X X
    X X X
     X X
      X

In [59]:
"abc" in "abcsd2"

True

In [62]:
"xyz" not in "abcdx"

True

string Methods

In [67]:
line="this is The Test LiNe"

In [68]:
line.capitalize()

'This is the test line'

In [70]:
line.title()

'This Is The Test Line'

In [72]:
line.upper()

'THIS IS THE TEST LINE'

In [74]:
line.lower()

'this is the test line'

In [76]:
line.swapcase()

'THIS IS tHE tEST lInE'

In [78]:
line.count(line)

1

In [79]:
len(line)

21

In [83]:
line.find(line)

0

In [88]:
line="this is done by him"
#this was done by him    blank alonog with blank 
print(line.replace(" is"," was"))

this was done by him

In [91]:
lists="98,67,448,56,32"
datalist=lists.split(",")
print(datalist)

['98', '67', '448', '56', '32']

In [92]:
line="this is so much fun"
wordlist=line.split()
print(wordlist)

['this', 'is', 'so', 'much', 'fun']

In [93]:
#wordcount
line=input("Enter a line:")
wordlist=line.split()
print("Total words:", len(line.split()))

Enter a line:this is a new line
Total words: 5

In [96]:
#wordcount with  no spaces most powerful
line=input("Enter a line:")
wordlist=line.split()
print("Total words:", len(line.split()))

Enter a line:   thois is         new lie          harsh
Total words: 5

In [97]:
"amar"=="amar"

True

In [98]:
"xyz"<"abc"

False

In [100]:
"amar"=="Amar" #case sensitive

False

In [3]:
#check for palindrome
#1 read a word
word=input("enter a word:")
#2 reverse
t=word[::-1]
#compare and comment
if(word==t):
    print("It is a plaindrome Number")
else:
    print("It is  not a plaindrome Number")
#compare and comment

enter a word:nitin
It is a plaindrome Number

In [3]:
#vowels count
word=input("enter a word:")
count=0
for i in word:
    if i=='a' or i=='e' or i=='o' or i=='i' or i=='u':
        count+=1
print("Vowels are present and total are:", count)

enter a word:this is a new line
Vowels are present and total are: 6

In [2]:
#vowels
word=input("enter a word:").lower()
count1=word.count('a')
count2=word.count('e')
count3=word.count('i' )
count4=word.count('o')
count5=word.count('u')
count=count1+count2+count3+count4+count5
print("Vowels are present and total are:", count)

enter a word:THIS IS A TEST TO FAIL
Vowels are present and total are: 7

In [3]:
#vowels
word=input("enter a word:").lower()
count1=word.count('a')
count2=word.count('e')
count3=word.count('i' )
count4=word.count('o')
count5=word.count('u')
count=count1+count2+count3+count4+count5
print("Vowels are present and total are:", count)
print("vowels a,e,i,o,u: ", count1,count2,count3,count4,count5)

enter a word:this is a test to fail
Vowels are present and total are: 7
vowels a,e,i,o,u:  2 1 3 1 0

In [4]:
#vowels
word=input("enter a word:").lower()
str="aeiou"
for i in str:
    print("Count of",i,"is",word.count(i))

enter a word:this is a test to pass
Count of a is 2
Count of e is 1
Count of i is 2
Count of o is 1
Count of u is 0

In [5]:
#vowels
word=input("enter a word:").lower()
str="aeiou"
count=0
for i in str:
    print("Count of",i,"is",word.count(i))
    count+=1
print("Total vowels are:", count)

enter a word:this is a line test
Count of a is 1
Count of e is 2
Count of i is 3
Count of o is 0
Count of u is 0
Total vowels are: 5

In [2]:
#count frequency of string
#eg. this is it
# t-1 h-1 i-3 s-2 t-1
# take line, add each character to set, count element of set in line
line=input("enter a word:")
setline=set(line)
setline.remove(" ")
for i in setline:
    print(i,"---->", line.count(i))

enter a word:hardh kesarwani
s ----> 1
r ----> 2
w ----> 1
k ----> 1
n ----> 1
e ----> 1
a ----> 3
i ----> 1
d ----> 1
h ----> 2

In [3]:
#count frequency of string
#eg. this is it
# t-1 h-1 i-3 s-2 t-1
# take line, add each character to set, count element of set in line
line=input("enter a word:")
setline=set(line)
setline.remove(" ")
for i in sorted(setline):
    print(i,"---->", line.count(i))

enter a word:heloo i am harsh
a ----> 2
e ----> 1
h ----> 3
i ----> 1
l ----> 1
m ----> 1
o ----> 2
r ----> 1
s ----> 1

In [5]:
#count freq of each word unique
#read line , break in a list, convert to set, sort
#count each word in list
#for word search count use always search in list not in string  

line=input("enter a word:")
list1=line.split(" ")
list2=set(list1)
for i in list2:
    print(i,"---->", list1.count(i))

enter a word:this is this my way tu way
tu ----> 1
way ----> 2
this ----> 2
my ----> 1
is ----> 1

In [15]:
#reverse line
#eg. this is it---> it is this
# break line in word      reverse a list     use + to create a new line of string
line=input("enter a word:")
list1=line.split(" ")
list2=list1[::-1]
print(list2)
for i in list2:
    print(i,end=" ")

enter a word:this is it
['it', 'is', 'this']
it is this

In [16]:
#reverse line
#eg. this is it---> it is this
# break line in word      reverse a list     use + to create a new line of string
line=input("enter a word:")
list1=line.split(" ")
list2=list1[::-1]
rline=""
print(list2)
for word in list2:
    rline+=" "+word
    print("rline: ",rline)

enter a word:this is it
['it', 'is', 'this']
rline:   it
rline:   it is
rline:   it is this

In [28]:
# we have list of student name print them with assigning roll on
#in order
slist=["zamar","amar","tamar","chinki","pinky","tom","jerry"]
#rollno 1-amar
#rollno 2-chinki
slist=sorted(slist)
for i in range(len(slist)):
    print("Rollno",i+1,"---",slist[i])

Rollno 1 --- amar
Rollno 2 --- chinki
Rollno 3 --- jerry
Rollno 4 --- pinky
Rollno 5 --- tamar
Rollno 6 --- tom
Rollno 7 --- zamar

In [34]:
#print all combination of charcters
#word= abc--- abc,bca,cab,acb,bac,cba

word="abc"
n=6
for i in range(n):
    newword=word[i]
    word.
    for j in range(len(word)):

abc