# List

In [ ]:
#List
#dynamic,hetrogeneous,indexed and allows duplicates
#access via +ve index or -ve index
data=[11,22,33,44,55,66,77]
print("Total elements on list:",len(data))
print(data[5])

Total elements on list: 7
66

Properties: It doesn't change anywhere

In [ ]:
data=["amar",123,True,3.14]
print(data*3)

['amar', 123, True, 3.14, 'amar', 123, True, 3.14, 'amar', 123, True, 3.14]

In [ ]:
data=[11,22,33,44,55,66,77,88]
for i in data:#auto iteration
    print(i)#i as item

11
22
33
44
55
66
77
88

In [ ]:
data=[11,22,33,44,55,66,77,88]
for i in range(0,len(data)):#auto iteration
    print("at",i,"we have",data[i])#i as index

at 0 we have 11
at 1 we have 22
at 2 we have 33
at 3 we have 44
at 4 we have 55
at 5 we have 66
at 6 we have 77
at 7 we have 88

In [ ]:
data=[11,22,33,44,55,66,77,88]
sum(data)#only works with all numbers
min(data)#only works with singular type of data
max(data)

88

In [ ]:
data*2# *n repeates it n times

[11, 22, 33, 44, 55, 66, 77, 88, 11, 22, 33, 44, 55, 66, 77, 88]

In [ ]:
data1=[1,2,3,4]
data2=[11,22,33,44,55]
data3=data1+data2#+ combines 2 or more lists
print(data3)

[1, 2, 3, 4, 11, 22, 33, 44, 55]

Methods of List

In [ ]:
data.append(input("Enter data"))
print("data has:",data,"total of",len(data),"elements")

Enter data45
data has: [11, 22, 33, 44, 55, 66, 77, 88, '45'] total of 9 elements

In [ ]:
data.append([11,22,33])

In [ ]:
data

[11, 22, 33, 44, 55, 66, 77, 88, '45', [11, 22, 33]]

In [ ]:
data.insert(-100,"trytry")
print("data has:",data,"total of",len(data),"elements")

data has: ['trytry', 'trytry', 11, 22, 33, 44, 55, 66, 77, 88, '45', [11, 22, 33]] total of 12 elements

In [ ]:
data.extend([1,2,3,4,5,6])
print("data has:",data,"total of",len(data),"elements")

data has: ['trytry', 'trytry', 11, 22, 33, 44, 55, 66, 77, 88, '45', [11, 22, 33], 1, 2, 3, 4, 5, 6] total of 18 elements

In [ ]:
data

['trytry',
 'trytry',
 11,
 22,
 33,
 44,
 55,
 66,
 77,
 88,
 '45',
 [11, 22, 33],
 1,
 2,
 3,
 4,
 5,
 6]

In [ ]:
data.pop()#removes elements from last

6

In [ ]:
data.pop(3)#indexed based removal

22

In [ ]:
data.remove("trytry")#element wise removal

In [ ]:
data=[11,2,11,33,4,22,55,26,87,23]
data.index(420)
#data.count(420)

ValueError: 420 is not in list

In [ ]:
data.sort(reverse=True)

In [ ]:
d=[2,11,44,66,22,88,34]
print(sorted(d))#temp method by default it returns a list
print(d)

[2, 11, 22, 34, 44, 66, 88]
[2, 11, 44, 66, 22, 88, 34]

In [ ]:
d=[2,11,44,66,22,88,34]
d.sort()#inplace menthod-fixed changes
print(d)

[2, 11, 22, 34, 44, 66, 88]

In [ ]:
data

[87, 55, 33, 26, 23, 22, 11, 11, 4, 2]

In [ ]:
m=[[11,22,[1,2,3]],[44,55],[66,77,88,99]]

m[0][2][1]

2

In [ ]:
for row in m:
    print("Row:",row)

Row: [11, 22, [1, 2, 3]]
Row: [44, 55]
Row: [66, 77, 88, 99]

In [ ]:
for row in m:
    for item in row:
        print(item)

11
22
[1, 2, 3]
44
55
66
77
88
99

In [ ]:
#create a list and data till user stops giving data
#1.1 Cal sum
#1.2 print only elements lesser than avg
#1.3 print count of each element

dlist=[]
while True:
    data=input("Enter the data:")
    if data=="":
        break
    dlist.append(float(data))
print("Total of ",len(dlist),"elements added to the list")
print("sum OF ELEMEMTS are",sum(dlist))
avg=sum(dlist)/len(dlist)
print("Average:",avg)
for item in dlist:
    if item<avg:
        print(item)
    print("Count of ",item,"is",count(item))

Enter the data:42
Enter the data:10.2
Enter the data:63
Enter the data:135
Enter the data:021.2
Enter the data:
Total of  5 elements added to the list
sum OF ELEMEMTS are 271.4
Average: 54.279999999999994
42.0

NameError: name 'count' is not defined

In [ ]:
#from the list create 2 list one lesser than avg and other greater
# 3 list 1 for data 2 of <avg 3> avg
# fing avg and if item<avg append to list 1 else to list 2
d1=[]
dlist=[]
d2=[]
while True:
    data=input("Enter the data:")
    if data=="":
        break
    dlist.append(float(data))
print("Total of ",len(dlist),"elements added to the list")
print("sum OF ELEMEMTS are",sum(dlist))
avg=sum(dlist)/len(dlist)
print("Average:",avg)
for item in dlist:
    if item<avg:
        d1.append(item)
    else:
        d2.append(item)
print("Lesser than average is",d1)
print("Greater than average is",d2)

Enter the data:42.1
Enter the data:10.23
Enter the data:48
Enter the data:169
Enter the data:152.3
Enter the data:
Total of  5 elements added to the list
sum OF ELEMEMTS are 421.63
Average: 84.326
Lesser than average is [42.1, 10.23, 48.0]
Greater than average is [169.0, 152.3]

In [ ]:
d=[11,22,5,2,8,33,98,23,56]
d.sort()
print("Second Largest:",d[-2])
print("Second smallest:",d[1])

Second Largest: 56
Second smallest: 5

In [ ]:
d=[11,22,5,2,8,33,98,23,56]
sorted(d)[-2]

56

In [ ]:
d[::-1]

[56, 23, 98, 33, 8, 2, 5, 22, 11]

In [ ]:
d.reverse()#in place
print(d)

[11, 22, 5, 2, 8, 33, 98, 23, 56]

# Tuples

In [ ]:
t=("harsh",123,5.2)

In [ ]:
type(t)

tuple

In [ ]:
t.append(145) #static immutable for security purpose

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
t=("abc","xyz") # in this we replace that tuples
print(t)

('abc', 'xyz')

In [ ]:
t=(10,2,[45,65])

In [ ]:
t[2].append(100)

In [ ]:
t

(10, 2, [45, 65, 100])

# Sets: non duplication, not indexing, auto iteration allowed

In [ ]:
s=set()
type(s)

set

In [ ]:
s={}
type(s)

dict

In [ ]:
s={0}
type(s)

set

Operation

In [ ]:
a={1,2,3,5}
b={4,5,6}

In [ ]:
a|b #union

{1, 2, 3, 4, 5, 6}

In [ ]:
a&b #intersection

{5}

In [ ]:
a^b
# symmetric difference

{1, 2, 3, 4, 6}

In [ ]:
a-b #differences

{1, 2, 3}

In [ ]:
b-a

{4, 6}

Problems on operation

In [ ]:
emp={1,2,3,4,5,6,7,8,9}
sing={2,4,6}
dance={1,2,5,8,9}
sport={1,2,3,5,8}
speaker={2,5,3}
#list thoese who has taken part in all 
print(sing&dance&sport&speaker)
#one not part of anything
print(emp-sing-dance-sport-speaker)
# list people who are singer and dancer
print(sing&dance)
#total people who are participated in evnts
print(sing|dance|sport|speaker)

{2}
{7}
{2}
{1, 2, 3, 4, 5, 6, 8, 9}

Supports auto iteration but not indexed accesss

In [ ]:
for i in emp:
    print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0,len(emp)):
    print(emp[i])

TypeError: 'set' object is not subscriptable

Methods: add(), update(), remove(),discard()

In [ ]:
dlist=[11,22,11,33,44,11,55,11,22,33,44,55]
dlist=sorted((set(dlist)))
print(dlist)

TypeError: 'list' object is not callable

In [ ]:
s={11,22,33,44,11,55,66}
print(s)
s.remove(33)
print(s)
s.remove(33)
print(s)

{33, 66, 22, 55, 11, 44}
{66, 22, 55, 11, 44}

KeyError: 33

In [ ]:
s={11,22,33,44,11,55,66}
print(s)
s.discard(33)
print(s)
s.discard(33)
print(s)

{33, 66, 22, 55, 11, 44}
{66, 22, 55, 11, 44}
{66, 22, 55, 11, 44}

In [ ]:
s

{11, 22, 44, 55, 66}

In [ ]:
s={"amar","amar","Amar","AMAR"}
print(s)

{'Amar', 'AMAR', 'amar'}

In [1]:
dlist=[11,22,11,44,11,66,22,11,55,88,11]
#list each element with its count in order of element
#set sort count
for i in sorted(set(dlist)):
    print(i,"--->", dlist.count(i))

11 ---> 5
22 ---> 2
44 ---> 1
55 ---> 1
66 ---> 1
88 ---> 1

In [2]:
#oR
dlist=[11,22,11,44,11,66,22,11,55,88,11]
#list each element with its count in order of element 
myset=set(dlist)
mysortedlist=sorted(myset)
print("dlist",dlist)
print("myset",myset)
print("mysortedlist",mysortedlist)
for i in mysortedlist:
    print(i,"--->",dlist.count(i))

dlist [11, 22, 11, 44, 11, 66, 22, 11, 55, 88, 11]
myset {66, 11, 44, 22, 55, 88}
mysortedlist [11, 22, 44, 55, 66, 88]
11 ---> 5
22 ---> 2
44 ---> 1
55 ---> 1
66 ---> 1
88 ---> 1

In [4]:
#merge 2 list in sorted manner
d1=[44,11,22,88]
d2=[33,10,35,6]
dlist=sorted(d1+d2)
print(dlist)

[6, 10, 11, 22, 33, 35, 44, 88]

In [11]:
#list rotaion
'''[11,22,33,44]
[22,33,44,11]
[33,44,11,22]'''
#n number of times
list=[11,22,33,44,55,66,77,88]
n=int(input("No of shifts: "))
for i in range(0,n):
  a=list.pop(0)
  list.append(a)
  print(list)

No of shifts: 5
[22, 33, 44, 55, 66, 77, 88, 11]
[33, 44, 55, 66, 77, 88, 11, 22]
[44, 55, 66, 77, 88, 11, 22, 33]
[55, 66, 77, 88, 11, 22, 33, 44]
[66, 77, 88, 11, 22, 33, 44, 55]

In [15]:
#list rotaion in reverse order
'''[11,22,33,44]
[44,11,22,33]
[33,44,11,22]'''
#n number of times
list=[11,22,33,44,55,66,77,88]
n=int(input("No of shifts: "))
for i in range(0,n):
  a=list.pop(-1)
  list.insert(0,a)
  print(list)

No of shifts: 5
[88, 11, 22, 33, 44, 55, 66, 77]
[77, 88, 11, 22, 33, 44, 55, 66]
[66, 77, 88, 11, 22, 33, 44, 55]
[55, 66, 77, 88, 11, 22, 33, 44]
[44, 55, 66, 77, 88, 11, 22, 33]

Dictionary:{key:value},synamic, follows key order, value can be duplicate-key must be unique to access

In [16]:
d={1:"one",2:"two",3:"three",4:"Four"}
d[3]

'three'

In [18]:
for i in d:
  print(d[i])

one
two
three
Four

In [20]:
d[5]="five" #new key and new value : adding
d

{1: 'one', 2: 'two', 3: 'three', 4: 'Four', 5: 'five'}

In [22]:
d[1.5]="one"

In [24]:
d[1]="Ek number" # old key new value then update of old data

In [25]:
for i in d:
  print("key",i,"value:",d[i])

key 1 value: Ek number
key 2 value: two
key 3 value: three
key 4 value: Four
key 5 value: five
key 1.5 value: one

In [26]:
contact={9821601163:["amar","codelifecoach","amar.com"]}

In [27]:
contact[9821601163]

['amar', 'codelifecoach', 'amar.com']

In [35]:
#python is not having switch cases iplement it and print number in words
#168- one six eight
dict={1: 'one', 2: 'two', 3: 'three', 4: 'Four', 5: 'five',6:"Six",7:"seven",8:"eight",9:"Nine"}
num=input("Enter a number:")
for i in num:
  print(dict[int(i)],end=" ")

Enter a number:168
one Six eight

In [36]:
d={1:"one",2:"two",3:"three",4:"four",5:"five"}
print(d.keys())
print(d.values())
print(d.items()) # it gives list of tuples

dict_keys([1, 2, 3, 4, 5])
dict_values(['one', 'two', 'three', 'four', 'five'])
dict_items([(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four'), (5, 'five')])

In [49]:
emplist=[[1,"ram",12333],[2,"sham",17773],[3,"tam",18999]]
for item in emplist:
  item[2]+=(item[2]*10/100)
  print(item)

[1, 'ram', 13566.3]
[2, 'sham', 19550.3]
[3, 'tam', 20898.9]

In [50]:
#OR
emplist=[[1,"ram",12333],[2,"sham",17773],[3,"tam",18999]]

for record in emplist:
    record[2]+=(record[2]*0.1)

for record in emplist:
    print(record)

[1, 'ram', 13566.3]
[2, 'sham', 19550.3]
[3, 'tam', 20898.9]

In [63]:
l1=[1,2,3,4,5,6]
l2=[11,22,33,44,55,66]
d=zip(l1,l2)
print(type(d))
print(dict(d))

<class 'zip'>

TypeError: ignored

In [64]:
dlist=[11,22,11,44,11,66,22,11,55,88,11]
#create dict of each element with its count in order 
myset=set(dlist)
mysortedlist=sorted(myset)
print("dlist",dlist)
print("myset",myset)
print("mysortedlist",mysortedlist)
for i in mysortedlist:
    print(i,"--->",dlist.count(i))

dlist [11, 22, 11, 44, 11, 66, 22, 11, 55, 88, 11]
myset {66, 11, 44, 22, 55, 88}
mysortedlist [11, 22, 44, 55, 66, 88]
11 ---> 5
22 ---> 2
44 ---> 1
55 ---> 1
66 ---> 1
88 ---> 1

In [67]:
dlist=[11,22,11,44,11,66,22,11,55,88,11]
#create dict of each element with its count in order 
myset=set(dlist)
mysortedlist=sorted(myset)
print("dlist",dlist)
print("myset",myset)
print("mysortedlist",mysortedlist)
countlist=[]
for i in mysortedlist:
  countlist.append(dlist.count(i))
print("Countlist", countlist)
print("mysortedlist:",mysortedlist)
map=dict(zip(mysortedlist,countlist))
print(map)

dlist [11, 22, 11, 44, 11, 66, 22, 11, 55, 88, 11]
myset {66, 11, 44, 22, 55, 88}
mysortedlist [11, 22, 44, 55, 66, 88]
Countlist [5, 2, 1, 1, 1, 1]
mysortedlist: [11, 22, 44, 55, 66, 88]

TypeError: ignored